node_modules/
/build
/dist
.npm
*.log
.eslintcache



# Virtual Environments
venv/
.venv/
env/
ENV/
pyvenv.cfg

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Build outputs
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates